Hello!

Click on the below link to verify your email address. You have used {{user.email}} when signing up.

<a href="{{ route('verification') }}?token={{user.verificationToken}}"> Verify Account </a>
