.swagger-section .swagger-collapse:before {
  content: "-";
}
.swagger-section .swagger-expand:before {
  content: "+";
}
.swagger-section .property-selector input[type="checkbox"] {
  margin: 3px;
}

.swagger-section .parameter-item .small-description code.code-signature {
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 11px;
    font-family: menlo;
    border: 1px solid rgba(0,0,0,.07);
    float: left;
    margin: 0 5px 0 0;
    color: #c7254e;
    background-color: #f9f2f4
}
